
<!--<%= image_tag @user.photo.url(:small) %>-->
<img src="http://127.0.0.1:3000<%= @user.photo.url(:small) %>" />
<h3>Articles</h3>
<% @arrayArticles.each do |article| %>
<p> title: <%= article.title %> </p>
<% end %>

<h3>Comments by user </h3>
<% @arrayAcomments.each do |comment| %>
<p>Comment: <%= comment.body %>
<% end %>
