<%= form_tag("/login", :method => "post", :id => "form-login") do %>
    <ul class="inputs black-input large focus">
      <li><span class="icon-user mid-margin-right"></span><input type="text" name="login" id="login" value="" class="input-unstyled" placeholder="Login" autocomplete="off"></li>
      <li><span class="icon-lock mid-margin-right"></span><input type="password" name="pass" id="pass" value="" class="input-unstyled" placeholder="Password" autocomplete="off"></li>
    </ul>
    
    <button type="submit" class="button glossy full-width huge">Login</button>
 
<% end %>

